<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
	<tbody class="mcnTextBlockOuter">
		<tr>
			<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
				<!--[if mso]>
																<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
																<tr>
																<![endif]-->
				<!--[if mso]>
																<td valign="top" width="600" style="width:600px;">
																<![endif]-->
				<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
					<tbody>
						<tr>

							<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

								<h1 style="text-align: center;">
									<strong>Olá,
										<span style="color:#4683b1"><%= @name %></span>!</strong>
								</h1>
								<p style="text-align: center;">
									Você solicitou a redefinição de senha do aplicativo Vendas na Mão.
									<br/> Se você não fez essa solicitação, ignnore este e-mail.
									<br/>
									<br/> Clique no botão abaixo para redefinir a sua senha:
								</p>
							</td>
						</tr>
					</tbody>
				</table>
				<!--[if mso]>
																</td>
																<![endif]-->
				<!--[if mso]>
																</tr>
																</table>
																<![endif]-->
			</td>
		</tr>
	</tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;">
	<tbody class="mcnButtonBlockOuter">
		<tr>
			<td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="center" class="mcnButtonBlockInner">
				<table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-radius: 3px;background-color: #4683b1;">
					<tbody>
						<tr>
							<td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial; font-size: 16px; padding: 15px;">
								<a class="mcnButton " title="Redefinir Senha" href="<%= @host %>/v1/auth/password_recovery?token=<%= @token %>"
									target="_blank" style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Redefinir Senha</a>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
	<tbody class="mcnTextBlockOuter">
		<tr>
			<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
				<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
					<tbody>
						<tr>
							<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
								<div style="text-align: center;">
									<span style="font-size:14px">Se tiver problema ao clicar no botão, copie e cole o seguinte link no navegador:</span>
								</div>
								<div style="text-align: center;">
									<span style="font-size:10px;color:gray"><%= @host %>/v1/auth/password_recovery?token=<%= @token %></span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
	<tbody class="mcnTextBlockOuter">
		<tr>
			<td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
				<!--[if mso]>
																<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
																<tr>
																<![endif]-->
				<!--[if mso]>
																<td valign="top" width="600" style="width:600px;">
																<![endif]-->
				<table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
					<tbody>
						<tr>

							<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

								<div style="text-align: center;">
									<span style="font-size:10px">(Esse link expira em 6 hora(s))</span>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<!--[if mso]>
																</td>
																<![endif]-->
				<!--[if mso]>
																</tr>
																</table>
																<![endif]-->
			</td>
		</tr>
	</tbody>
</table>