<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="viewport" content="width=device-width" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <style type="text/css">
    p {
      margin: 10px 0;
      padding: 0;
    }

    table {
      border-collapse: collapse;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0;
      padding: 0;
    }

    img,
    a img {
      border: 0;
      height: auto;
      outline: none;
      text-decoration: none;
    }

    body,
    #bodyTable,
    #bodyCell {
      height: 100%;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .mcnPreviewText {
      display: none !important;
    }

    #outlook a {
      padding: 0;
    }

    img {
      -ms-interpolation-mode: bicubic;
    }

    table {
      mso-table-lspace: 0pt;
      mso-table-rspace: 0pt;
    }

    .ReadMsgBody {
      width: 100%;
    }

    .ExternalClass {
      width: 100%;
    }

    p,
    a,
    li,
    td,
    blockquote {
      mso-line-height-rule: exactly;
    }

    a[href^=tel],
    a[href^=sms] {
      color: inherit;
      cursor: default;
      text-decoration: none;
    }

    p,
    a,
    li,
    td,
    body,
    table,
    blockquote {
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    .ExternalClass,
    .ExternalClass p,
    .ExternalClass td,
    .ExternalClass div,
    .ExternalClass span,
    .ExternalClass font {
      line-height: 100%;
    }

    a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: none !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
      line-height: inherit !important;
    }

    #bodyCell {
      padding: 10px;
    }

    .templateContainer {
      max-width: 600px !important;
    }

    a.mcnButton {
      display: block;
    }

    .mcnImage {
      vertical-align: bottom;
    }

    .mcnTextContent {
      word-break: break-word;
    }

    .mcnTextContent img {
      height: auto !important;
    }

    .mcnDividerBlock {
      table-layout: fixed !important;
    }

    body,
    #bodyTable {
      background-color: #FAFAFA;
    }

    #bodyCell {
      border-top: 0;
    }

    .templateContainer {
      border: 0;
    }

    h1 {
      color: #202020;
      font-family: Helvetica;
      font-size: 26px;
      font-style: normal;
      font-weight: bold;
      line-height: 125%;
      letter-spacing: normal;
      text-align: left;
    }

    h2 {
      color: #202020;
      font-family: Helvetica;
      font-size: 22px;
      font-style: normal;
      font-weight: bold;
      line-height: 125%;
      letter-spacing: normal;
      text-align: left;
    }

    h3 {
      color: #202020;
      font-family: Helvetica;
      font-size: 20px;
      font-style: normal;
      font-weight: bold;
      line-height: 125%;
      letter-spacing: normal;
      text-align: left;
    }

    h4 {
      color: #202020;
      font-family: Helvetica;
      font-size: 18px;
      font-style: normal;
      font-weight: bold;
      line-height: 125%;
      letter-spacing: normal;
      text-align: left;
    }

    #templatePreheader {
      background-color: #FAFAFA;
      background-image: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top: 0;
      border-bottom: 0;
      padding-top: 9px;
      padding-bottom: 9px;
    }

    #templatePreheader .mcnTextContent,
    #templatePreheader .mcnTextContent p {
      color: #656565;
      font-family: Helvetica;
      font-size: 12px;
      line-height: 150%;
      text-align: left;
    }

    #templatePreheader .mcnTextContent a,
    #templatePreheader .mcnTextContent p a {
      color: #656565;
      font-weight: normal;
      text-decoration: underline;
    }

    #templateHeader {
      background-color: #FFFFFF;
      background-image: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top: 0;
      border-bottom: 0;
      padding-top: 9px;
      padding-bottom: 0;
    }

    #templateHeader .mcnTextContent,
    #templateHeader .mcnTextContent p {
      color: #202020;
      font-family: Helvetica;
      font-size: 16px;
      line-height: 150%;
      text-align: left;
    }

    #templateHeader .mcnTextContent a,
    #templateHeader .mcnTextContent p a {
      color: #2BAADF;
      font-weight: normal;
      text-decoration: underline;
    }

    #templateBody {
      background-color: #FFFFFF;
      background-image: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top: 0;
      border-bottom: 2px solid #EAEAEA;
      padding-top: 0;
      padding-bottom: 9px;
    }

    #templateBody .mcnTextContent,
    #templateBody .mcnTextContent p {
      color: #202020;
      font-family: Helvetica;
      font-size: 16px;
      line-height: 150%;
      text-align: left;
    }

    #templateBody .mcnTextContent a,
    #templateBody .mcnTextContent p a {
      color: #2BAADF;
      font-weight: normal;
      text-decoration: underline;
    }

    #templateFooter {
      background-color: #FAFAFA;
      background-image: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top: 0;
      border-bottom: 0;
      padding-top: 9px;
      padding-bottom: 9px;
    }

    #templateFooter .mcnTextContent,
    #templateFooter .mcnTextContent p {
      color: #656565;
      font-family: Helvetica;
      font-size: 12px;
      line-height: 150%;
      text-align: center;
    }

    #templateFooter .mcnTextContent a,
    #templateFooter .mcnTextContent p a {
      color: #656565;
      font-weight: normal;
      text-decoration: underline;
    }

    @media only screen and (min-width:768px) {
      .templateContainer {
        width: 600px !important;
      }
    }

    @media only screen and (max-width: 480px) {
      body,
      table,
      td,
      p,
      a,
      li,
      blockquote {
        -webkit-text-size-adjust: none !important;
      }
    }

    @media only screen and (max-width: 480px) {
      body {
        width: 100% !important;
        min-width: 100% !important;
      }
    }

    @media only screen and (max-width: 480px) {
      #bodyCell {
        padding-top: 10px !important;
      }
    }

    @media only screen and (max-width: 480px) {
      .mcnImage {
        width: 100% !important;
      }
    }

    @media only screen and (max-width: 480px) {
      .mcnCartContainer,
      .mcnCaptionTopContent,
      .mcnRecContentContainer,
      .mcnCaptionBottomContent,
      .mcnTextContentContainer,
      .mcnBoxedTextContentContainer,
      .mcnImageGroupContentContainer,
      .mcnCaptionLeftTextContentContainer,
      .mcnCaptionRightTextContentContainer,
      .mcnCaptionLeftImageContentContainer,
      .mcnCaptionRightImageContentContainer,
      .mcnImageCardLeftTextContentContainer,
      .mcnImageCardRightTextContentContainer {
        max-width: 100% !important;
        width: 100% !important;
      }
    }

    @media only screen and (max-width: 480px) {
      .mcnBoxedTextContentContainer {
        min-width: 100% !important;
      }
    }

    @media only screen and (max-width: 480px) {
      .mcnImageGroupContent {
        padding: 9px !important;
      }
    }

    @media only screen and (max-width: 480px) {
      .mcnCaptionLeftContentOuter .mcnTextContent,
      .mcnCaptionRightContentOuter .mcnTextContent {
        padding-top: 9px !important;
      }
    }

    @media only screen and (max-width: 480px) {
      .mcnImageCardTopImageContent,
      .mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent {
        padding-top: 18px !important;
      }
    }

    @media only screen and (max-width: 480px) {
      .mcnImageCardBottomImageContent {
        padding-bottom: 9px !important;
      }
    }

    @media only screen and (max-width: 480px) {
      .mcnImageGroupBlockInner {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }

    @media only screen and (max-width: 480px) {
      .mcnImageGroupBlockOuter {
        padding-top: 9px !important;
        padding-bottom: 9px !important;
      }
    }

    @media only screen and (max-width: 480px) {
      .mcnTextContent,
      .mcnBoxedTextContentColumn {
        padding-right: 18px !important;
        padding-left: 18px !important;
      }
    }

    @media only screen and (max-width: 480px) {
      .mcnImageCardLeftImageContent,
      .mcnImageCardRightImageContent {
        padding-right: 18px !important;
        padding-bottom: 0 !important;
        padding-left: 18px !important;
      }
    }

    @media only screen and (max-width: 480px) {
      .mcpreview-image-uploader {
        display: none !important;
        width: 100% !important;
      }
    }

    @media only screen and (max-width: 480px) {
      h1 {
        font-size: 22px !important;
        line-height: 125% !important;
      }
    }

    @media only screen and (max-width: 480px) {
      h2 {
        font-size: 20px !important;
        line-height: 125% !important;
      }
    }

    @media only screen and (max-width: 480px) {
      h3 {
        font-size: 18px !important;
        line-height: 125% !important;
      }
    }

    @media only screen and (max-width: 480px) {
      h4 {
        font-size: 16px !important;
        line-height: 150% !important;
      }
    }

    @media only screen and (max-width: 480px) {
      .mcnBoxedTextContentContainer .mcnTextContent,
      .mcnBoxedTextContentContainer .mcnTextContent p {
        font-size: 14px !important;
        line-height: 150% !important;
      }
    }

    @media only screen and (max-width: 480px) {
      #templatePreheader {
        display: block !important;
      }
    }

    @media only screen and (max-width: 480px) {
      #templatePreheader .mcnTextContent,
      #templatePreheader .mcnTextContent p {
        font-size: 14px !important;
        line-height: 150% !important;
      }
    }

    @media only screen and (max-width: 480px) {
      #templateHeader .mcnTextContent,
      #templateHeader .mcnTextContent p {
        font-size: 16px !important;
        line-height: 150% !important;
      }
    }

    @media only screen and (max-width: 480px) {
      #templateBody .mcnTextContent,
      #templateBody .mcnTextContent p {
        font-size: 16px !important;
        line-height: 150% !important;
      }
    }

    @media only screen and (max-width: 480px) {
      #templateFooter .mcnTextContent,
      #templateFooter .mcnTextContent p {
        font-size: 14px !important;
        line-height: 150% !important;
      }
    }
  </style>
</head>

<body>
  <center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td align="center" valign="top" id="bodyCell">
          <!-- BEGIN TEMPLATE // -->
          <!--[if gte mso 9]>
          <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
          <tr>
          <td align="center" valign="top" width="600" style="width:600px;">
          <![endif]-->
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
            <tr>
              <td valign="top" id="templatePreheader">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
                  <tbody class="mcnImageBlockOuter">
                    <tr>
                      <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                        <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                          <tbody>
                            <tr>
                              <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;">
                                <img src="<%= @host.nil? ? 'http://localhost:3000' : @host %>/files/img/marca.png" alt="Vendas na mão"
                                width="170" height="79">
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td valign="top" id="templateHeader"></td>
            </tr>
            <tr>
              <td valign="top" id="templateBody">

                <%= yield %>

              </td>
            </tr>
            <tr>
              <td valign="top" id="templateFooter">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
                  <tbody class="mcnDividerBlockOuter">
                    <tr>
                      <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 10px 18px 25px;">
                        <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width: 100%;border-top: 2px solid #EEEEEE;">
                          <tbody>
                            <tr>
                              <td>
                                <span></span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--
                        <td class="mcnDividerBlockInner" style="padding: 18px;">
                        <hr class="mcnDividerContent" style="border-bottom-color:none; border-left-color:none; border-right-color:none; border-bottom-width:0; border-left-width:0; border-right-width:0; margin-top:0; margin-right:0; margin-bottom:0; margin-left:0;" />
                        -->
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                  <tbody class="mcnTextBlockOuter">
                    <tr>
                      <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                        <!--[if mso]>
                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                        <tr>
                        <![endif]-->
                        <!--[if mso]>
                        <td valign="top" width="600" style="width:600px;">
                        <![endif]-->
                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                          <tbody>
                            <tr>

                              <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

                                <div style="text-align: center;">
                                  <span style="font-size:10px">
                                    <em>Vendas na mão ® Todos os Direitos Reservados</em>
                                    <br> (Mensagem automática)
                                  </span>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--[if mso]>
                        </td>
                        <![endif]-->
                        <!--[if mso]>
                        </tr>
                        </table>
                        <![endif]-->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </table>
          <!--[if gte mso 9]>
          </td>
          </tr>
          </table>
          <![endif]-->
          <!-- // END TEMPLATE -->
        </td>
      </tr>
    </table>
  </center>
</body>

</html>